In [3]:
# Single ine comment

'''
Multi line comment

'''
print('Hello')

Hello

In [24]:
#Print statements when u use apostraphy
print("This is Vishwa's art")
print('This is Vishwa\'s art')

This is Vishwa's art
This is Vishwa's art

In [26]:
#When v want to use double quotes
print('''She said "That is a beautiful painting"''')
print('She said '+'"'+'That is a beautiful painting'+'"')

She said "That is a beautiful painting"
She said "That is a beautiful art"

In [27]:
#concatination of string
a='Hello'
print(a+'Deloitte')

HelloDeloitte

In [29]:
a=5
b=10
c=a+b
print('the sum of '+str(a)+' and '+str(b)+' is '+str(c))

the sum of 5 and 10 is 15

In [15]:
a=10
b=10.6
print(type(a))
type(b)

<class 'int'>

float

In [ ]:
print

In [22]:
#arthimetic operators
a=10
b=2

print(a+b)
print(type(a+b))

print(a-b)
print(type(a-b))

print(a*b)
print(type(a*b))

print(a/b)
print(type(a/b))

print(a//b)
print(type(a//b))

print(a%b)
print(type(a%b))

print(a**b)
print(type(a**b))

12
<class 'int'>
8
<class 'int'>
20
<class 'int'>
5.0
<class 'float'>
5
<class 'int'>
0
<class 'int'>
100
<class 'int'>

In [31]:
#membership
a='deloitte'
b='del'
print( a in b)
print(b in a)

False
True

In [33]:
#identity
a='deloitte'
b='del'
print(a is b)
print(a is not b)

False
True

In [41]:
# To print zoom if divisble by 3 and 5, zup if divisible by 3,zap if by 5 and invalid otherwise
num=int(input("Enter a number"))
if num%3==0 and num%5==0:
    print("zoom")
elif num%3==0:
    print("zip")
elif num%5==0:
    print("zap")
else:
    print("invalid")

Enter a number20
zap

In [66]:
#to print vowels in a str
str1="Deloitte"
for s in str1:
    if s in 'aeiou':
        print(s)

e
o
i
e

In [65]:
#To print sum of 123
num=(input("Enter a number"))
sum=0
for i in num:
    sum+=int(i)
print(sum)

Enter a number123
6

In [71]:
#break example
x='135781357'

for i in x:
    if int(i)%2==0:
        break
    else:
        print(i)

1
3
5
7

In [72]:
#continue example
x='135781357'

for i in x:
    if int(i)%2==0:
        continue
    else:
        print(i)

1
3
5
7
1
3
5
7

In [76]:
# suppose to be error but dk why h
Y=2
if 2!=Y:
    print("k")
else:
    print("h")

h

In [88]:
#prime numbers till 100

for num in range(1, 100):
    if num > 1:  
        for i in range(2, num):
            if num % i == 0:
                break  
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [92]:
#to check if number is positive negative or zero

num=int(input("Enter a number"))
if(num==0):
    print("number is zero")
elif(num>0):
    print("number is positive")
else:
    print("number is negative")

Enter a number-2
number is negative

In [107]:
#to print the number of words in the sentence

sentence=input("enter a sentence ")
count=0
for word in sentence:
    if word==" ":
        count+=1
if count==0:
    print(count)
else:
    print(count+1)

enter a sentence wor doc
2

In [135]:
for num in range(1,11):
    if(num%2==0):
        print(num,end=" ")

2 4 6 8 10

In [119]:
#swapping two numbers
a=10
b=5

print(f"number before swap {a} and {b}")
a=a+b
b=a-b
a=a-b
print(f"number after swap {a} and {b}")

number before swap 10 and 5
number after swap 5 and 10

In [136]:
Ctemp=int(input("enter the temp in Celsius "))
Ftemp=Ctemp*(9/5)+32
print(f'The temp in Fahrenheit is {Ftemp}')

enter the temp in Celsius 20
The temp in Fahrenheit is 68.0

In [128]:
time=int(input("enter the number on minutes "))
hours=time//60
min=time%60
print(f'{hours} hours {min} minutes')

enter the number on minutes 135
2 hours 15 minute

In [134]:
num1=int(input("Enter first number "))
num2=int(input("Enter second number "))
num3=int(input("Enter third number "))

if num1>num2 and num1>num3:
    print(f'{num1} is the biggest')
elif num2>num1 and num2>num3:
     print(f'{num2} is the biggest')
else:
     print(f'{num3} is the biggest')

Enter first number20
Enter second number30
Enter third number10
30 is the biggest

In [139]:
#bitwise and
4&5

5

In [140]:
#bitwise or
4&5

4

In [142]:
#bitwise not
4^5

1

In [153]:
def calculate_total_ticket_cost(no_of_adults,no_of_children):
    total_ticket_cost=0
    rate_per_adult=37550.0
    rate_per_child=(1/3)*rate_per_adult
    cost= (no_of_adults*rate_per_adult) + (no_of_children*rate_per_child)
    service_tax=(7/100)*cost
    cost=cost+service_tax
    discount=(10/100)*cost
    total_ticket_cost=cost-discount
    
    return total_ticket_cost

calculate_total_ticket_cost(5,2)

204910.35