In [3]:
# List

list0=['apple','orange','cherry','kiwi','banana']
print(list0[0])
print(list0[-1])
list0[-1]=['blueberry','strawberry','blackberry']
print(list0[-1][0:2])
print(list0[-1:-3:-1])
print(list0[-1][1])

apple
banana
['blueberry', 'strawberry']
[['blueberry', 'strawberry', 'blackberry'], 'kiwi']
strawberry

In [19]:
list1=['A','B','C','D','E','F','G','H','I','J']

list1.append('K')
print(list1)

del list1[3]
print(list1)

val=list1[5]
print(val)

list1.insert(9,val)
print(list1)

print(list1[-2])

list1.clear()
print(list1)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K']
['A', 'B', 'C', 'E', 'F', 'G', 'H', 'I', 'J', 'K']
G
['A', 'B', 'C', 'E', 'F', 'G', 'H', 'I', 'J', 'G', 'K']
G
[]

In [48]:
# sorting a list

lists=[20,40,50,90,10]
print(sorted(lists))
print(lists)

print(lists.sort())
print(lists)

lists.sort(reverse=True)
print(lists)

[10, 20, 40, 50, 90]
[20, 40, 50, 90, 10]
None
[10, 20, 40, 50, 90]
[90, 50, 40, 20, 10]

In [21]:
#concatenating list

list1=['1','2']
list1=list1+['3']
print(list1)

['1', '2']

In [38]:
# Tuple

tup=('one','two',['three','four'],('five','six'))
print(tuple)

print(tup[2][1])

tup1=tup+('seven','eight')
print(tup1)

print(tup[::-1])

print(tup[1:])

('one', 'two', ['three', 'four'], ('five', 'six'))
four
('one', 'two', ['three', 'four'], ('five', 'six'), 'seven', 'eight')
(('five', 'six'), ['three', 'four'], 'two', 'one')
('two', ['three', 'four'], ('five', 'six'))
three

In [32]:
del tup[2]

TypeError: 'tuple' object doesn't support item deletion

In [33]:
tup[1]="ten"

TypeError: 'tuple' object does not support item assignment

In [49]:
tup.insert[2,"ten"]

AttributeError: 'tuple' object has no attribute 'insert'

In [50]:
tup.append("ten")

AttributeError: 'tuple' object has no attribute 'append'

In [34]:
tup2=(1,2,5,7,3,8)
sorted(tup2)

[1, 2, 3, 5, 7, 8]

In [58]:
#set
set1={}
print(type(set1))

<class 'dict'>

In [5]:
ser1=set()
print(type(ser1))

<class 'set'>

In [76]:
set1={0,0,1,2,3,3,False,True}
print(set1)

set1.add(6)
print(set1)

set1.add((7,8))
print(set1)

set1.remove(6)

{0, 1, 2, 3}
{0, 1, 2, 3, 6}
{0, 1, 2, 3, 6, (7, 8)}

In [77]:
set1.add([7,8])

TypeError: unhashable type: 'list'

In [60]:
print(set1[2])

TypeError: 'set' object is not subscriptable

In [73]:
del set1
print(set1)

NameError: name 'set1' is not defined

In [25]:
#set operations

setA={1,2,3,4,5,1,2,6,7,8}
setB={2,2,4,6,8,4}
setC={1,3,3,5,7,7,10}

print(setA|setB)
print(setA&setB&setC)
print(setA-setB)
print(setA^setB)

print(setA.union(setB,setC))
print(setA.intersection(setB))
print(setA.difference(setC))
print(setA.symmetric_difference(setB))

print(sum(setA))
print(max(setA))
print(min(setA))
print(len(setA))
print(sorted(setB))

{1, 2, 3, 4, 5, 6, 7, 8}
set()
{1, 3, 5, 7}
{1, 3, 5, 7}
{1, 2, 3, 4, 5, 6, 7, 8, 10}
{8, 2, 4, 6}
{8, 2, 4, 6}
{1, 3, 5, 7}
36
8
1
8
[2, 4, 6, 8]

In [14]:
#converting to other types

setC={1,3,3,5,7,7}
tupleC=tuple(setC)
print(tupleC)

listC=list(setC)
print(listC)

(1, 3, 5, 7)
[1, 3, 5, 7]

In [32]:
new_prices={}
def create_new_dictionary(prices):
    for k,v in prices.items():
        if v>200:
            new_prices[k]=v
    return new_prices

prices={'ACME':45.23,'AAPL':612.78,'IBM':205.55,'HPQ':37.20,'FB':10.75}
print(create_new_dictionary(prices))

{'AAPL': 612.78, 'IBM': 205.55}

In [43]:

def calculate_net_amount(trans_list):
    net_amount=0
    for i in trans_list:
        if i[0]=='d':
            net_amount+=int(i[-3:])
        else:
            net_amount-=int(i[-3:])
            
    return net_amount

trans_list=["d:300","d:200","w:200","d:100"]
print(calculate_net_amount(trans_list))

400

In [49]:
dict={"merry":"god","christmas":"jul","and":"och","happy":"gott","new":"nytt","year":"ar"}

def translate(listE):
    listS=[]
    for word in listE:
        for k in dict:
            if word==k:
                listS.append(dict[k])
    return listS

print(translate(["merry","christmas"]))

['god', 'jul']

In [70]:
# scope of a variable

global_var=100

def fun():
    local_var=200*global_var
    print(local_var)
    print(global_var)
    
fun()

20000
100

In [60]:
print(local_var)

NameError: name 'local_var' is not defined

In [74]:
global_var=100

def fun():
    global_var=200*global_var
    print(local_var)
    print(global_var)
    
fun()
print(global_var)

UnboundLocalError: cannot access local variable 'global_var' where it is not associated with a value

In [69]:
global_var=100
print(global_var)

def fun():
    global global_var
    global_var=2
    print(global_var)
    
fun()
print(global_var)

100
2
2

In [83]:
def add_string(str1):
    if len(str1)<3:
        pass
    elif "ing" in str1[-3:]:
        str1=str1+"ly"
    else:
        str1=str1+"ing"
        
    return str1

str1="com"
print(add_string(str1))

coming

In [88]:
def find_more_than_average(list_of_marks):
    sum=0
    count=0
    avg=0
    for mark in list_of_marks:
        sum+=mark
    avg=sum/len(list_of_marks)
    for mark in list_of_marks:
        if mark>avg:
            count+=1
    percent=(count/len(list_of_marks))*100
    return percent

def sort_marks(list_of_marks):
    return sorted(list_of_marks)
    
list_of_marks=(12,18,25,24,2,5,18,20,20,21)
print(find_more_than_average(list_of_marks))
print(sort_marks(list_of_marks))

70.0
[2, 5, 12, 18, 18, 20, 20, 21, 24, 25]

In [93]:
def alphanumeeric(sentence):
    alpha="abcdefghijklmnopqrstuvwABCDEFGHIJKLMNOPQRSTUVWQYZ"
    numeric="123456789"
    counta=0
    countn=0
    final_list=[]
    for c in sentence:
        if c in alpha:
            counta+=1
        elif c in numeric:
            countn+=1
        else:
            pass
    final_list=[counta,countn]
    return final_list

sentence="Deloitte 123"
print(alphanumeeric(sentence))

[8, 3]

In [106]:
def bracket_pattern(input_str):
    open=0
    close=0
    if input_str[0]==")" or input_str[-1]=="(":
            return False
    for i in input_str:
        if i=="(":
            open+=1
        else:
            close+=1
    if(open==close):
        return True
    else:
        return False
input_str="()()(())"
print(bracket_pattern(input_str))

True

In [117]:
def list123(nums):
    str1=""
    for i in nums:
        str1+=str(i)
    if "123" in str1:
        return True
    else:
        return False
    
nums=[1,1,2,4,3,1]
print(list123(nums))

False

In [122]:
def findmissing(word):
    str=""
    alpha="abcdefghigklmnopqrstuvwxyz"
    for i in alpha:
        if i not in word:
            str=str+i
    return str

            
    
word=str(input())
print(findmissing(word))

abcdefghigklmnopqrstuvwxy
z