In [3]:
#lambda function

square=lambda n:n**2

print(square(3))

9

In [6]:
#exception handling

try:
    a=input("Enter first value :")
    b=input("Enter second value :")
    ans=int(a)/int(b)
    print(ans)
except:
    print("Error")

Enter first value :2
Enter second value :w
Error

In [8]:
# error wont be handled if theres no except

try:
    a=input("Enter first value :")
    b=input("Enter second value :")
    ans=int(a)/int(b)
    print(ans)
    
finally:
    print("Finally")

Enter first value :1
Enter second value :0
Error

ZeroDivisionError: division by zero

In [9]:
#exception handling

try:
    a=input("Enter first value :")
    b=input("Enter second value :")
    ans=int(a)/int(b)
    print(ans)
except:
    print("Error")
finally:
    print("finally")

Enter first value :a
Enter second value :d
Error
finally

In [29]:
#using else

try:
    a=input("Enter first value :")
    b=input("Enter second value :")
    ans=int(a)/int(b)
    print(ans)
except:
    print("executed when error is present")
else:
    print("executed when no error is present")
finally:
    print("finally")

Enter first value :10
Enter second value :20
0.5
executed when no error is present
finally

In [19]:
# known error handling

try:
    a=input("Enter first value :")
    b=input("Enter second value :")
    ans=int(a)/int(b)
    print(ans)
    
except ZeroDivisionError as e:
    print("Division by zero is not allowed")
    
except (ValueError,NameError) as e:
    print(e)
    
except:
    print("Error")

Enter first value :22
Enter second value :a
invalid literal for int() with base 10: 'a'

In [25]:
#raise 

try:
    a=input("Enter first value :")
    b=input("Enter second value :")
    ans=int(a)/int(b)
    
    if b==0:
        raise ZeroDivisionError("b cannot be zero")
        
    print(ans)
    
except ZeroDivisionError as e:
    print("Division by zero is not allowed")
    
except (ValueError,NameError) as e:
    print(e)
    
except:
    print("Error")

Enter first value :2
Enter second value :0
Division by zero is not allowed

In [26]:
def divide(a,b):
    try:
        ans=int(a)/int(b)
        print(ans)
    except ZeroDivisionError as e:
        print("inside function")

try:
    divide(10,0)
except:
    print("outside function")

inside function

In [1]:
#map

#there shouldnt be error

l=[1,2,3,4,5]

def do_square(num):
    s=num*num
    return s

z=list(map(do_square,l))
print(z)

[1, 4, 9, 16, 25]

In [37]:
l=[1,2,3,4,5]

def do_square(num):
    s=num*num
    return s

z=map(do_square,l)

for i in z:
    print(i)

1
4
9
16
25

In [43]:
l=[1,2,3,4,5]

z=map(lambda num:num*num,l)
for i in z:
    print(i)

1
4
9
16
25

In [2]:
l=[1,2,3,4,5]

z=map(lambda num:num*num,l)
print(list(z))
for i in z:
    print(i)

[1, 4, 9, 16, 25]

In [105]:
l=["hydrabad","bangalore","delhi"]

z=map(lambda num:num[0:3],l)
print(z)
for i in z:
    print(i)

<map object at 0x0000021D9BF27A60>
hyd
ban
del

In [48]:
#filter

list1=[1,2,3,4,5,6]

def is_even(num):
    if num%2==0:
        return True
    else:
        return False

z=filter(is_even,list1)
for i in z:
    print(i)

2
4
6

In [49]:
list1=[1,2,3,4,5,6]

z=filter(lambda num:num%2==0,list1)
for i in z:
    print(i)

2
4
6

In [72]:
#reduce

import functools

x=[100,200,300]

z=functools.reduce(lambda a,b:a+b,x)
print(z)

600

In [ ]:
# reduce

import functools

x=[100,200,300]

def do_sum(a,b):
    return a+b

z=functools.reduce(do_sum,x)
print(z)

In [68]:
import functools

x=[1,2,3,4,5,6,7,8,9]

odd_num=filter(lambda n:n%2!=0,x)
odd_list=tuple(odd_num)
print(odd_list)

double_num=map(lambda n:n*2,odd_list)
double_list=tuple(double_num)
print(double_list)

sum=functools.reduce(lambda n1,n2:n1+n2,double_list)
print(sum)

(1, 3, 5, 7, 9)
(2, 6, 10, 14, 18)
50

In [16]:
#decorator

def my_deco(func):
    def rap():
        print('pre hire')
        func()
        print('post hire')
    return rap

@my_deco
def hello():
    print('welcome')
    
hello()

pre hire
welcome
post hire

In [78]:
def sub_dec(fun):
    def wrapper(num1,num2):
        if num1<num2:
            num1,num2=num2,num1
        return fun(num1,num2)
    return wrapper

@sub_dec
def sub(n1,n2):
    ans=n1-n2
    return ans

print(sub(10,20))

10

In [84]:
def sub_dec(fun):
    def wrapper(num1,num2):
        if num1<num2:
            num1,num2=num2,num1
        fun(num1,num2)
    return wrapper

@sub_dec
def sub(n1,n2):
    ans=n1-n2
    print(ans)
    return ans

print(sub(10,20))

10
None

In [91]:
# args

def count_sheep(*args):
    for i in args:
        print(str(i)+' Sheep')
       
count_sheep('1','2','3','4','5')

1 Sheep
2 Sheep
3 Sheep
4 Sheep
5 Sheep

In [92]:
def count_sheep(*args):
    for i in args:
        print(str(i)+' Sheep')
x=['1','2','3']     
count_sheep(x)

['1', '2', '3'] Sheep

In [3]:
def do_sum(*args):
    sum=0
    print(type(args))
    for i in args:
        sum=sum+i
    return sum  

print(do_sum(1,2))
print(do_sum(1,2,3))

<class 'tuple'>
3
<class 'tuple'>
6

In [6]:
# kwargs

def kwargs_func(**kwargs):
        print(kwargs)
        
kwargs_func(name='vishwa',age='21')

{'name': 'vishwa', 'age': '21'}

In [11]:
def kwargs_func(**kwargs):
    for k,v in kwargs.items():
        print(f'{k}:{v}')
        
kwargs_func(name='vishwa',age='21')

name:vishwa
age:21

In [12]:
# using both args and kwargs

def use_both(*args,**kwargs):
    print(args)
    print(kwargs)
    
use_both(1,2,3,name='vishwa',age='21')

(1, 2, 3)
{'name': 'vishwa', 'age': '21'}

In [14]:
# kwargs cannot be used first as argument

def use_both(**kargs,*args):
    print(args)
    print(kwargs)
    
use_both(name='vishwa',age='21',1,2,3)

SyntaxError: arguments cannot follow var-keyword argument (3063304737.py, line 3)

In [22]:
# Built in numerical functions

a=-5
print(abs(5))

print(pow(2,3))

b=4.5
c=4.267678
print(round(b))
print(round(c,3))

5
8
4
4.268

In [26]:
# String functions

s="hello world"

print(s.capitalize())
print(s.title())
print(s.swapcase())

Hello world
Hello World
HELLO WORLD

In [41]:
s="hello world"
n="123er"
sp=" "
print(s.isalpha())
print(n.isdigit())
print(n.isalnum())
print(sp.isspace())
print(s.istitle())
print(s.islower())
print(s.isupper())

False
False
True
True
False
True

In [1]:
s="hello world"
print(s.split())
print(s.startswith("he" or "He"))
print(s.startswith("wo",6,9))
print(s.endswith("h"))
print(s.find('o')) 
print(s.find('o',5,10)) 
print(s.count('o'))
print(s.replace('r','i'))

['hello', 'world']
True
True
False
4
7
2
hello woild

In [56]:
x=["hello","world"]
print(" ".join(x))
print("$".join(x))

hello world
hello$world