In [15]:
import csv

with open('day5.csv','r') as f:
    csv_reader=csv.reader(f)
    for i in csv_reader:
        print(i)

['1', 'luffy', '1000']
['2', 'zoro', '2000']
['3', 'sanji', '3000']

In [8]:
#cvs.reader returns reader object and it can be accessed only once
#next() prints from 2nd column

with open('day5.csv','r',newline='') as f:
    csv_reader=csv.reader(f)
    next(csv_reader)
    print(csv_reader)       #reader object
    print(list(csv_reader))
    
    for row in csv_reader:   #since we accessed above we cannot access reader object again
        print(row)

<_csv.reader object at 0x000001D9F7F23E20>
[['1', 'loki', '1000'], ['2', 'thor', '2000'], ['3', 'hela', '3000']]

In [84]:

with open('day5.csv','w',newline='') as of:
    csv_writer=csv.writer(of)
    csv_writer.writerow(['EID','ENAME','ESAL'])
    csv_writer.writerow(['1','luffy','1000'])
    csv_writer.writerow(['2','zoro','2000'])
    csv_writer.writerow(['3','sanji','3000'])

In [85]:
x=['4','robin','4000']
update=[]
with open('day5.csv','r') as f:
    csv_reader=csv.reader(f)
    for i in csv_reader:
        update.append(i)
        print(i)
    update.append(x)
    print(update)
        
with open('day5.csv','w',newline='') as of:
    csv_writer=csv.writer(of)
    for row in update:
        csv_writer.writerow(row)

['EID', 'ENAME', 'ESAL']
['1', 'luffy', '1000']
['2', 'zoro', '2000']
['3', 'sanji', '3000']
[['EID', 'ENAME', 'ESAL'], ['1', 'luffy', '1000'], ['2', 'zoro', '2000'], ['3', 'sanji', '3000'], ['4', 'robin', '4000']]

In [86]:

update=[]
with open('day5.csv','r') as f:
    csv_reader=csv.DictReader(f)
    for i in csv_reader:
        eid=i['EID']
        ename=f"Mr.{i['ENAME']}"
        esal=i['ESAL']
        
        update.append({
            'EID':eid,
            'ENAME':ename,
            'ESAL':esal
        })

with open('day5.csv','w',newline='') as of:
    csv_writer=csv.DictWriter(of,fieldnames=['EID','ENAME','ESAL'])
    csv_writer.writeheader()
    csv_writer.writerows(update)

In [113]:
update=[]
with open('emp.csv','r') as f:
    csv_reader=csv.reader(f)
    z=list(csv_reader)
    update.append(("name","age","total sal"))
    for i in range(1,len(z)):
        fname=z[i][0]
        lname=z[i][1]
        yob=int(z[i][2])
        sal=float(z[i][3])
        bon=float(z[i][4])
        update.append((fname+' '+lname,2024-yob,sal+bon))

with open('updated_emp.csv','w',newline='') as of:
    csv_writer=csv.writer(of)
    csv_writer.writerows(update)

In [15]:


try:
    update=[["full_name","age","total_sal"]]
    with open('emp.csv','r') as f:
        csv_reader=csv.reader(f)
        next(csv_reader)
        for i in csv_reader:
            fname=i[0]
            lname=i[1]
            full_name=fname+' '+lname
            age=2024-int(i[2])
            total_sal=int(i[3])+int(i[4])
            update.append([full_name,age,total_sal])


    with open('updated_emp.csv','w',newline='') as f:
        csv_writer=csv.writer(f)
        csv_writer.writerows(update)
        
except:
    print("code not executed")
    
else:
    print("data updated")
    
finally:
    f.close()

data updated

In [16]:


try:
    update=[{"full_name":"full_name","age":"age","total_sal":"total_sal"}]
    with open('emp.csv','r') as f:
        csv_reader=csv.DictReader(f)
        for i in csv_reader:
            fname=i['firstname']
            lname=i['lastname']
            full_name=fname+' '+lname
            age=2024-int(i['yob'])
            total_sal=int(i['sal'])+int(i['bonus'])
            update.append({"full_name":full_name,"age":age,"total_sal":total_sal})
        
    
    with open('updated_emp.csv','w',newline='') as f:
        keyval=['full_name','age','total_sal']
        csv_writer=csv.DictWriter(f,keyval)
        csv_writer.writerows(update)
        
except:
    print("code not executed")
    
else:
    print("data updated")
    
finally:
    f.close()

data updated

In [49]:
#reading csv file using pandas

import pandas as pd

df=pd.read_csv('emp.csv')
df

  firstname lastname   yob    sal  bonus
0     alice    smith  1990  50000   5000
1       bob  johnson  1985  60000   4000
2   Charlie     brow  1992  55000   3000

In [51]:
df.shape

(3, 5)

In [23]:
#converting csv to parquet file

df=pd.read_csv('emp.csv')
df.to_parquet('emp.parquet')

In [56]:
df.to_parquet('emp_filter',partition_cols=['lastname'])
data=pd.read_parquet('emp_filter')
data

   firstname   yob    sal  bonus lastname
0    Charlie  1992  55000   3000     brow
1    Charlie  1992  55000   3000     brow
2    Charlie  1992  55000   3000     brow
3    Charlie  1992  55000   3000     brow
4        bob  1985  60000   4000  johnson
5        bob  1985  60000   4000  johnson
6        bob  1985  60000   4000  johnson
7        bob  1985  60000   4000  johnson
8      alice  1990  50000   5000    smith
9      alice  1990  50000   5000    smith
10     alice  1990  50000   5000    smith
11     alice  1990  50000   5000    smith

In [53]:
df = pd.read_parquet('emp.parquet')
df

  firstname lastname   yob    sal  bonus
0     alice    smith  1990  50000   5000
1       bob  johnson  1985  60000   4000
2   Charlie     brow  1992  55000   3000

In [54]:
!pip install pandas pyarrow

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: pyarrow in c:\programdata\anaconda3\lib\site-packages (11.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [55]:
# filtering out only those colume which have yob==1990

pf = pd.read_parquet('emp.parquet')
print(pf)
data=pf.read_parquet('emp.parquet',filters=[('yob','=',1990)])

  firstname lastname   yob    sal  bonus
0     alice    smith  1990  50000   5000
1       bob  johnson  1985  60000   4000
2   Charlie     brow  1992  55000   3000

AttributeError: 'DataFrame' object has no attribute 'read_parquet'

In [57]:
import pandas as pd

pf = pd.read_parquet('emp.parquet')
filtered_data = pf[pf['yob'] == 1990]
print(filtered_data)

  firstname lastname   yob    sal  bonus
0     alice    smith  1990  50000   5000

In [71]:
def product_sum(num1,num2):
    product=num1*num2
    if product<=1000:
        return product
    else:
        return num1+num2

product_sum(100,11)

111

In [87]:
def operate_number(num1,num2,op):
    if op=='+':
        return num1+num2
    elif op=='-':
        return num1-num2
    elif op=='*':
        return num1*num2
    elif op=='/':
        if num2==0:
            print("division by 0 is not possible")
        else:
            return num1/num2
    elif op=='//':
        if num2==0:
            print("division by 0 is not possible")
        else:
            return num1//num2
    elif op=='**':
        return num1**num2
    elif op=='%':
        if num2==0:
            print("mod by 0 is not possible")
        else:
            return num1//num2

num1=int(input("enter a number:"))
num2=int(input("enter a number:"))
op=input("enter a operator:")
operate_number(num1,num2,op)

enter a number:5
enter a number:2
enter a operator:+

7

In [90]:
def calculate_tax(sal):
    if sal<300000:
        tax=0
    else:
        taxable_amt=sal-300000
        print(taxable_amt)
        if sal>=300000 and sal<600000:
            tax=0.05
        elif sal>=600000 and sal<900000:
            tax=0.1
        elif sal>=900000 and sal<1200000:
            tax=0.15
        elif sal>=1200000 and sal<1500000:
            tax=0.2
        else:
            tax=0.3
    return tax*taxable_amt

salary=300000
print(f'salary for {salary} is {calculate_tax(salary)}')

0
salary for 300000 is 0.0

In [133]:
def encrypt(sentence):
    encrypt=[]
    word=sentence.split(" ")
    print(word)
    for i in range(0,len(word)):
        if i%2==0:
            encrypt.append(word[i][::-1])
        else:
            vowels=""
            conso=""
            for x in word[i]:
                if x in "aeiou":
                    vowels=vowels+x
                else:
                    conso=conso+x
            encrypt.append(conso+vowels)
    ans=(" ").join(encrypt)              
    print(ans)
    
encrypt('the sun rises in the east')
encrypt('how are you doing')

['the', 'sun', 'rises', 'in', 'the', 'east']
eht snu sesir ni eht stea
['how', 'are', 'you', 'doing']
woh rae uoy dngoi

In [135]:
prices={'APPLE':55.30,'MANGO':815.70,'ORANGE':250.50,'BANANA':97.30,'WATERMELON':100.25}

def price_dictionary(prices):
    new_dict={}
    for k,v in prices.items():
        if v>200:
            new_dict[k]=v
    return new_dict

print(price_dictionary(prices))

{'MANGO': 815.7, 'ORANGE': 250.5}